<header>
<img src="http://dl.dropbox.com/u/49925034/MJ.com/mjager.gif" alt="M Jager Illustration" title="M Jager Illustration" />
</header>

<nav>
	<ul>
		<li class="m1"><a href="/">home</a></li>
		<li class="m2"><a href="gallery">gallery</a></li>
		<li class="m3"><a href="about">about</a></li>
		<li class="m4"><a href="contact">contact</a></li>
	</ul>
</nav>
<div id="main">
</div>
