<div style="position:absolute; top:200px; left:370px">
<img src="http://dl.dropbox.com/u/49925034/MJ.com/homepage_banner.png" />
</div>
<div style="position:absolute; top:380px; left:-230px;">
<img src="http://dl.dropbox.com/u/49925034/MJ.com/mail_mateja.png" style="width:300px;"/>
</div>
