<div id="galleria" style="height:400px; width:600px;"></div>
   <script>

    // Load the classic theme
//    Galleria.loadTheme( '/assets/galleria.classic.min.js') ;

    Galleria.run('#galleria', {
        // The user & album. This example fetches the album "Demo" from the user "galleriajs"
        picasa: 'useralbum:104928245265286732275/MJComGallery'
    });
    </script>
