// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#about{ 
	background: url(http://dl.dropbox.com/u/49925034/MJ.com/background_about.png) no-repeat; 
	padding:25px;
	p.slope {
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		writing-mode: lr-tb;
	}
}
