// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{position: relative;width:800px;display:block;margin:0 auto; height:500px;background: url( http://dl.dropbox.com/u/49925034/MJ.com/background.png ) no-repeat;}

